name: 02 - Workflow Events
on:
    push:
    pull_request:
    schedule:
      - cron: '*/5 * * * *'
    workflow_dispatch:
   #- push
   #- pull_request
jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Show the trigger
              run: echo "I have triggered by ${{github.event_name}} event."
              
