name: 02 - Workflow Events
on:
    push:
    pull_request:
    schedule:
      - cron: '5 12 12 3 2'
    workflow_dispatch:
   #- push
   #- pull_request
jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: Show the trigger
              run: echo "I have triggered by ${{github.event_name}} event."
            - name: Say hi
              run: echo "Hi i am second step of this work flow"
              
